<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
 <link rel="stylesheet" href="/css/myPagination.css" type="text/css"/>
 <script type="text/javascript" src="/js/myPagination.js"></script>
  <style>
   table tbody {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }
    
    table thead, tbody tr {
        display: table;
        width:100%;
        table-layout: fixed;
    }
   table thead {
        width: calc( 100% - 18px);
    }
 </style>
</head>
<div class="margin clearfix" layout:fragment="content" seq="23">
<script type="text/javascript">
	var $curs = {};
	$(function(){
	    var param={};
		query(param);
	});
	function query(params){
		$curs = params;
		$('#myPage').html('');
		$.ajax({
			   type: "GET",
			   url: '/product/productAttrList',
			   data:params,
			   dataType:'json',
			   success: function(result){
				   $('#myData').empty();
				   var template = Handlebars.compile($("#roleTemplate").html());
				   var $tr = template(result.data);
				   $('#myData').append($tr);
				   new Page({
				        id: 'pagination',
				        pageTotal: result.data.total, //必填,总页数
				        pageAmount: result.data.size,  //每页多少条
				        dataTotal: result.data.total, //总共多少条数据
				        curPage:result.data.current, //初始页码,不填默认为1
				        pageSize:result.data.pages, //分页个数,不填默认为5
				        showPageTotalFlag:true, //是否显示数据统计,不填默认不显示
				        showSkipInputFlag:true, //是否支持跳转,不填默认不显示
				        getPage: function (page) {
				        	$curs.pageNo = page;
				    		query($curs);
				        }
				    })
			   }
		});
	}
	
	function jumpPage(page){
		$curs.pageNo = page;
		query($curs);
	}
	function startQuery(){
		var pArray = $('#searchForm').serializeArray();
		var params = {};
		for(var i = 0;i < pArray.length;i++){
			if($.trim(pArray[i].value) != ''){
				params[pArray[i].name] = pArray[i].value;
			}
		}
		query(params);
	}
	
	function detail(id){
		$.ajax({
			   type: "GET",
			   url: '/product/productAttrValueList',
			   data:{attrId:id},
			   dataType:'json',
			   success: function(result){
				   $('#detailData').empty();
				   var template = Handlebars.compile($("#detailTemplate").html());
				   var $tr = template(result.data);
				   $('#detailData').append($tr);
			 }
		});
	}
	
	function modify_state(id,state,attrId){
		  layer.confirm('是否确定修改状态？', {
				     btn: ['是','否'] ,//按钮
					 icon:2,
				    }, 
					function(index){
				      layer.close(index);
				      var header = $("meta[name='_csrf_header']").attr("content");
				  	  var token = $("meta[name='_csrf']").attr("content");
				  		$.ajax({
				  			   type: "POST",
				  			   url: '/product/updateAttrValueState',
				  			   data:{id:id,state:state},
				  			   dataType:'json',
				  			   beforeSend: function(xhr){
				  			        xhr.setRequestHeader(header, token);
				  			    },
				  			   success: function(result){
				  				  if(result.code=='0'){
				  					detail(attrId);
				  				  }else{
				  					  layer.alert(result.msg,{			
				  					        icon:2,		
				  					 }) 
				  				  }
				  			   }
				  		});
				    }
				        
		  );
	}
	
	function attrAdd(attrId){
		  layer.open({
	        type: 1,
	        title: '添加分类',
			maxmin: true, 
			shadeClose: false, //点击遮罩关闭层
	        area : ['750px' , ''],
	        content:$('#sort_style_add'),
			btn:['提交','取消'],
			yes:function(index,layero){	
			 var num=0;
			 var str="";
			 var params={};
			 params.attrId=attrId;
	         $(".sort_style_add input").each(function(n){
	             if ($(this).val() == "") {
								layer.alert(str += "" + $(this).attr("name")
										+ "不能为空！\r\n", {
									title : '提示框',
									icon : 0,
								});
								num++;
					 return false;
				 }else{
					 
					 if($(this).attr("name")=="name"){
						 params.name=$(this).val();
					 }
					 if($(this).attr("name")=="state" && $(this).attr("checked")=="checked"){
						 params.state=$(this).val();
					 }
					 
				 }
			 });
				if (num > 0) {
					return false;
				} else {
					 var header = $("meta[name='_csrf_header']").attr("content");
				  	  var token = $("meta[name='_csrf']").attr("content");
					$.ajax({
						   type: "POST",
						   url: '/product/addAttrValue',
						   data:params,
						   dataType:'json',
			  			   beforeSend: function(xhr){
			  			        xhr.setRequestHeader(header, token);
			  			    },
						   success: function(result){
							   
						 }
					});
					layer.close(index);
				}
			}
		});
	}
</script>
 <div class="search_style">
       <form id="searchForm">
       <ul class="search_content clearfix">
       <li><label class="l_f">名称</label><input name="userName" type="text" class="text_add" placeholder="用户名" style=" width:150px"></li>
       <li style="width:90px;"><button type="button" class="btn btn-info" onclick="startQuery()"><i class="fa fa-search"></i>查询</button></li>
       <li style="width:90px;"><button type="button" class="btn btn-warning" onclick="toIndex(0)"><i class="fa fa-plus"></i>新增</button></li>
      </ul>
      </form>
    </div>
<div class="Columns_style margin">
  <table class="table table-striped table-bordered table-hover" id="sample-table">
       <thead>
		 <tr>
				<th width="50px">编号</th>
				<th width="50px">分类</th>
				<th width="50px">名称</th>
				<th width="50px">是否自定义</th>
				<th width="50px">创建时间</th>
				<th width="50px">创建人</th>
				<th width="50px">状态</th>
				<th width="50px">操作</th>                
			</tr>
		</thead>
        <tbody id="myData">
        </tbody>
   </table>
</div>
 <div id="pagination" class="pagination"></div>
 
 <div class="modal fade" id="myModal"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
	<!-- /.page-content-area -->
<script id="roleTemplate" type="text/x-handlebars-template">
{{#each records}}
<tr>
 <td width="50px">{{addOne   @index }}</td>    
 <td width="50px">{{categoryId}}</td>             
 <td width="50px"><u style="cursor:pointer" class="text-primary" onclick="">{{name}}</u></td>
 <td width="50px">{{customTag}}</td>    
 <td width="50px">{{createTime}}</td>  
 <td width="50px">{{createUser}}</td>   
 <td width="50px">{{#if_eq state 'ENABLE'}}
          <span class="label label-success radius">启用</span>
          {{/if_eq}}  
          {{#if_eq state 'DISABLE'}}
          <span class="label label-warning radius">禁用 </span> 
          {{/if_eq}} </td>   
 <td width="50px"><a href="#modal-table" data-toggle="modal" onclick="detail({{id}})">详情</a><a href="#" onclick="attrAdd({{id}})">新增</a></td>  
 </tr>
{{/each}}
 </script>

 <div id="modal-table" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						属性
					</div>
				</div>

				<div class="modal-body no-padding">
					<table
						class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
						<thead>
							<tr>
								<th>序号</th>
								<th>属性值</th>
								<th>状态</th>
								<th><i class="ace-icon fa fa-clock-o bigger-110"></i>
									操作</th>
							</tr>
						</thead>
						<tbody id="detailData">
						</tbody>
					</table>
				</div>

				<div class="modal-footer no-margin-top">
					<button class="btn btn-sm btn-danger pull-left"
						data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i> 关闭
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	<script id="detailTemplate" type="text/x-handlebars-template">
{{#each this}}
<tr>
 <td>{{addOne   @index }}</td>    
 <td>{{name}}</td>   
 <td>{{#if_eq state 'ENABLE'}}
          <span class="label label-success radius">启用</span>
          {{/if_eq}}  
          {{#if_eq state 'DISABLE'}}
          <span class="label label-warning radius">禁用 </span> 
          {{/if_eq}}
 </td> 
 <td>{{#if_eq state 'ENABLE'}}
   <a title="禁用" href="javascript:;"  onclick="modify_state({{id}},'DISABLE',{{attrId}})" class="btn btn-xs btn-warning" ><i class="fa fa-trash  bigger-120"></i></a>
   {{/if_eq}} 
   {{#if_eq  state 'DISABLE'}}
    <a title="启用" href="javascript:;"  onclick="modify_state({{id}},'ENABLE',{{attrId}})" class="btn btn-xs btn-success" ><i class="fa fa-check  bigger-120"></i></a>
   {{/if_eq}} </td>           
 </tr>
{{/each}}
 </script>
 
 <!--添加分类-->
<div class="sort_style_add margin" id="sort_style_add" style="display:none">
  <div class="">
     <ul>
      <li><label class="label_name">属性</label><div class="col-sm-9"><input name="name" type="text" placeholder="" class="col-xs-10 col-sm-5"></div></li>
      <li><label class="label_name">状态</label>
      <span class="add_content"> &nbsp;&nbsp;<label><input name="state" type="radio" checked="checked" class="ace" value="ENABLE"><span class="lbl">启用</span></label>&nbsp;&nbsp;&nbsp;
      <label><input name="state" type="radio" class="ace" value="DISABLE"><span class="lbl">禁用</span></label></span>
     </li>
     </ul>
  </div>
</div>
 
</div>
</html>