<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
<link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
<script type="text/javascript" src="/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.excheck.js"></script>
<script th:inline="javascript">
var setting = {
		check: {
			enable: true
		},
		data: {
			simpleData: {
				enable: true
			}
		}
	};
	$(document).ready(function(){
		$.fn.zTree.init($("#treeDemo"), setting, [[${authList}]]);
	});
    function editRole(){
	var treeObj=$.fn.zTree.getZTreeObj("treeDemo");
    var nodes=treeObj.getCheckedNodes(true);
    var v="";
    for(var i=0;i<nodes.length;i++){
        v+=nodes[i].id + ",";
    }
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
	$.ajax({
		type : "POST",
		url : '/admin/addRole',
		beforeSend: function(xhr){
	        xhr.setRequestHeader(header, token);
	    },
		data : {authIds:v,roleId:$("#roleId").val(),remark:$("#remark").val()},
		dataType : 'json',        
		success : function(data) {
		}
	});
}
 function toIndex(){
		location.href="/admin/addRoleView/0";
	}
</script>
</head>
<div class="margin clearfix" layout:fragment="content" seq="11">
  <div class="left_Competence_add">
    <div class="Competence_add">
     <input type="hidden" id="roleId">
     <div class="form-group"><label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 权限名称 </label>
       <div class="col-sm-9"><input type="text" id="roleName" placeholder=""  name="权限名称" class="col-xs-10 col-sm-5"></div>
	</div>
     <div class="form-group"><label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 权限描述 </label>
       <div class="col-sm-9"><textarea id="remark" name="权限描述" class="form-control" placeholder=""></textarea></div>
	</div>
	<div class="form-group"><label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 权限 </label>
       <div class="col-sm-9"><ul id="treeDemo" class="ztree"></ul></div>
	</div>
	 
     
   <!--按钮操作-->
   <div class="Button_operation">
				<button onclick="editRole();" class="btn btn-primary radius" type="submit"><i class="fa fa-save "></i> 保存并提交</button>
				<button onclick="toIndex()" class="btn btn-secondary  btn-warning" type="button"><i class="fa fa-reply"></i> 返回上一步</button>
	</div>
   </div>
   </div>
</div>
</html>
