<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout.html}">
<div class="page-content" layout:fragment="content" seq="11">
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
					    <div class="">
					    <form action="/admin/role">
					        <div class="col-md-3">角色：<input type="text" size="15" name="roleName"/></div>
					        <div class="col-md-3">状态：<input type="text" size="15" name="state"/></div>
	                        <div class="col-md-4">创建时间：<input type="text" size="15" class="datePicker" name="startTime"/> 至 <input type="text" size="15"
										class="datePicker" name="endTime"/></div>
	                        <div class="col-md-1"><button class="btn btn-primary pull-right col-sm-12 tbl-search"
											data-dismiss="modal">
											搜索 <i class="ace-icon fa fa-search"></i>
										</button></div>
							<div class="col-md-1"><button class="btn btn-danger pull-right col-sm-12 "
											data-dismiss="modal">
											添加 <i class="ace-icon fa fa-pencil-square-o"></i>
										</button></div>
						 </form>
						</div>
						<div class="table-responsive" >

							<table id="sample-table-2"
								class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center"><label class="position-relative">
												<input type="checkbox" class="ace" /> <span class="lbl"></span>
										</label></th>
										<th>名称</th>
										<th>状态</th>
										<th>备注</th>
										<th>创建日期</th>
										<th>操作</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="m : ${roleList}">
										<td class="center"><label class="position-relative">
												<input type="checkbox" class="ace" /> <span class="lbl"></span>
										</label></td>
										<td th:text="${m.roleName}"></td>
										<td th:text="${m.state}"></td>
										<td th:text="${m.remark}"></td>
										<td th:text="${m.createTime}">xx</td>
										<td>
											<div class="hidden-sm hidden-xs btn-group">
												<button class="btn btn-xs btn-success" title="">
													<i class="ace-icon fa fa-search-plus bigger-120"></i>
												</button>

												<button class="btn btn-xs btn-info">
													<i class="ace-icon fa fa-pencil bigger-120"></i>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content-area -->
</div>
</html>
