<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout.html}">
 
<div class="margin clearfix" layout:fragment="content" seq="21">
<script type="text/javascript">

	function saveData() {
		var pId = $("#pId").val();
		var name = $("#name").val();
		var header = $("meta[name='_csrf_header']").attr("content");
		var token = $("meta[name='_csrf']").attr("content");
		$.ajax({
			type : "POST",
			url : '/cate/addCate',
			data : {pId:pId,name:name},
			beforeSend: function(xhr){
		        xhr.setRequestHeader(header, token);
		    },
			dataType : 'json',
			success : function(result) {
				if(result.code=='0'){
					location.href="/cate/categoryListView";
				}
			}
		});
	}
</script>

 <div class="article_style">
    <div class="add_content" id="form-article-add">
     <ul>
       <li class="clearfix"><label class="label_name"><i>*</i>选择分类</label>
       <span class="formControls col-8"><select class="form-control" id="pId">
          <option value="0">==选择==</option>
          <option th:each="p:${cateList}" th:value="${p.id}" th:text="${p.categoryName}"></option>
       </select>
       </span>
      </li>
      <li class="clearfix"><label class="label_name">分类名称</label><span class="formControls col-10"><input type="text" id="name" class="col-xs-10 col-sm-5"></span></li>
      </ul>
    <div class="Button_operation">
				<button onclick="saveData();" class="btn btn-primary radius" type="submit">保存并提交</button>
				<button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
    </div>
</div>
</div>
</html>
